<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- ------splash screen----- -->

    <div class="splash">
        <h5 class="logo-header">
          <span class="logo">B<span class="logo">i</span>n</span><span class="logo">g</span><span class="logo">e</span>
        </h5>
      </div>
  
  
      <!-- --------------navabar----------------- -->
      <div id="nav1">
        <div class="nav">
          <nav class="header">
            <div class="h1">
              <!-- <img src="../images/Binge_donut_logo.png" alt="" > -->
              <span><b>Binge</b></span>
            </div>
            <div class="items">
              <ul class="jk">
                <li class="list"><a href="#features">Features</a></li>
                <li class="list"><a href="safety.html" target="_blank">Safety</a></li>
                <!-- <li class="list"><a href="places.html">Places </a></li> -->
                <li class="list"><a href="contact.html" target="_blank">Contact us</a></li>
                <li class="list"><a href="terms_condition.html">Help</a></li>
              </ul>
            </div>
            <div>
              <button class="log">
                <span class="btn4"><a href="#box" id="btn4">Login</a></span>
                <!-- <i class="fas fa-sign-in-alt"></i>  -->
              </button>
            </div>
          </nav>
        </div>
        <!-- <h2>Find your match -->
        <div class="th">
          <div class="h2">
            <span class="typed"></span>
          </div>
          <div class="btn2">
            <button class="btn3">
              <span>
                <a id="btn2" href="#box">Create account </a>
              </span>
            </button>
          </div>
        </div>
      </div>
  
  
  <!-- -----------about----------- -->
  <div class="summary">
    <div class="containerhg">
      <div class="col1hg">
        <h1>Dating</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
          illum eligendi quia, eveniet modi quidem laboriosam aspernatur culpa
          accusantium reprehenderit incidunt autem enim assumenda nemo
          temporibus inventore, aliquid vero eum tempora consequuntur provident
          maiores sit? Quidem cum beatae quibusdam iusto maiores aliquid quos
          assumenda mollitia id praesentium ex, ea quam architecto quo nisi esse
          odit omnis. Maiores, reiciendis adipisci deserunt accusantium mollitia
          labore ad dolores obcaecati voluptatem praesentium nobis voluptate
          consequuntur nihil repellendus ipsam porro quam nam corrupti itaque
          laborum veniam enim dignissimos excepturi? Nulla id veritatis ad?
          Aspernatur sunt deserunt, alias voluptatum ipsam corrupti natus
          voluptates accusamus cum repudiandae? Necessitatibus quaerat, quam
          dicta nihil, optio quasi omnis minima ipsa consectetur quae voluptatum
        </p>
      </div>
      <div class="imghg">
        <!-- <img src="jeet-dhanoa-q82BAzAWGTQ-unsplash.jpg" alt=""> -->
      </div>
    </div>
</div>

<!-- -------------Features------------ -->

<div id="features">
<div class="fer">
  <h1>Speacial Features of our sites</h1>
</div>
<div class="icong">
  <div class="icon9">
    <img src="../images/icons8-romantic-places-128.png" alt="" />
    <span>
      <b class="bold">Places</b><br />
      Find places to <br />
      meet, date & for Fun</span
    >
  </div>
  <div class="icon9">
    <img src="../images/icons8-unlock-64.png" alt="" />
    <span
      ><b class="bold"> Socials</b> <br />
      Unlock your socials</span
    >
  </div>
  <div class="icon9">
    <img src="../images/icons8-video-calling-64.png" alt="" />
    <span>
      <b class="bold">Video call</b> <br>
      Video call with <br />
      your like ones</span
    >
  </div>
  <div class="icon9">
    <img src="../images/icons8-tags-96.png" alt="" />
    <span>
      <b class="bold">Tags</b>  <br>
      tags your partners</span>
  </div>
</div>
</div>

<!-- ------------------------ -->

<div class="lST">
<div class="last">
  <!-- <img src="../images/artawkrn-FwHttdBCIPM-unsplash.jpg" alt=""> -->
</div>
<div class="last1">
  <h1>Let's work together</h1>
<div><span>We’re looking for people who want to make dating effective, not addictive.</span></div>
  <button class="log1" ><a href="">Join us</a></button>

</div>
</div>
<footer>
  <div class="footer-wrap">
  <div class="container first_class">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h3>BE THE FIRST TO KNOW</h3>
          <p>Get all the latest information on  Binge Services, Events, Jobs
            and Fairs.</p>
        </div>
        <div class="col-md-4 col-sm-6">
        <form class="newsletter">
           <input type="text" placeholder="Email Address"> 
                                                        <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>  
        </form>
        
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="col-md-12">
          <div class="standard_social_links">
        <div>
          <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>

          </li>
          <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>

          </li>
          <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>

          </li>
          <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>

          </li>
          <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>

          </li>
          <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>

          </li>
        </div>
      </div>  
        </div>
          <div class="clearfix"></div>
        <div class="col-md-12"><h3 style="text-align: right;">Stay Connected</h3></div>
        </div>
      </div>
  </div>
    <div class="second_class">
      <div class="container second_class_bdr">
      <div class="row">
        <div class="col-md-4 col-sm-6">

          <!-- <div class="footer-logo"><img src="http://localhost/lrn/img/footer_logo.png" alt="logo"> -->
          <!-- </div> -->
          <p>Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.</p>
        </div>
        <div class="col-md-2 col-sm-6">
          <h3>Quick  LInks</h3>
          <ul class="footer-links">
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">About us</a>
            </li>
            <li><a href="#">Binge Partners</a>
            </li>
            <li><a href="#">Contact Us</a>
            </li>
            <li><a href="#" target="_blank">Terms &amp; Conditions</a>
            </li>
            <li><a href="#" target="_blank">Privacy Policy</a>
            </li>
            <li><a href="#">Sitemap</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>OUR SERVICES</h3>
          <ul class="footer-category">
            <li><a href="#">Dating Tips</a>
            </li>
            <li><a href="#">Calls - Video  &amp; Voice calls </a>
            </li>
            <li><a href="#">Features- Places ,Tags &amp; more</a>
            </li>
            <li><a href="#">Readers Galleria - Curated Library</a>
            </li>
            <li><a href="#">Trideus - Campus Ambassadors</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>Binge Events</h3>
          <ul class="footer-links">
            <li><a href="#">Binge Events</a>
            </li>

            <!-- <li><a href="#">Jobs &AMP; Internship Fair 2019</a> -->
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    </div>
    
    <div class="row">
      
      <div class="container-fluid">
      <div class="copyright"> Copyright &copy; 2022 | Binge.com All Rights Reserved</div>
      </div>
      
    </div>
  </div>
  
  </footer>

<!--footer end-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- Font Awesome 5 links-->
  <script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>

    <!------------------login page-------------------------- -->

    <div id="box">
      <span class="crox"
        ><a href="#" id="crox"
          ><img src="../images/icons8-multiply-50.png" alt=""
        /></a>
      </span>
      <div class="container">
        <h2 id="change">Get Started</h2>
        <span
          >By clicking LogIn you agree to our <a href="">Terms</a>. Learn how we
          process your data in our <a href="">Privacy Policy </a> and
          <a href="">Cookie policy</a></span
        >
      </div>

      <div class="buttons">
        <div
          class="g-signin2"
          data-onsuccess="onSignIn"
          data-longtitle="true"
        ></div>
        <div>
          <a href="">
            <button class="btn">
              <img class="img" src="../images/icons8-facebook-96.png" alt="" />
              <span class="lg">Sign in with Facebook</span>
            </button>
          </a>
        </div>
        <div>
          <a href="">
            <button class="btn">
              <img src="../images/icons8-phone-100.png" alt="" class="img" />
              <span class="lg">sign in with Phone Number</span>
            </button>
          </a>
        </div>
      </div>
      <div class="trouble">
        <span><a href="">Trouble logging in?</a></span>
      </div>
      <hr />
      <h2>GET THE APP</h2>
      <div class="download">
        <div class="btn1">
          <a href="">
            <img src="../images/icons8-app-store-100.png" alt="" />
            <span class="dwld">Download on the</span>
            <span class="dwld">App store</span>
          </a>
        </div>
        <div class="btn1">
          <a href="">
            <img src="../images/icons8-google-play-100.png" alt="" />
            <span class="dwld">Get it on</span>
            <span class="dwld">Play store</span>
          </a>
        </div>
      </div>
    </div>

    


<!-- --------------javascript--------------------- -->


<script src="../js/typed.js"></script>
<script
  src="https://kit.fontawesome.com/5b96ba9c61.js"
  crossorigin="anonymous"
></script>
<script>
  var typed = new Typed(".typed", {
    strings: [
      "We believe in togetherness",
      "We believe in thoughtfulness",
      "We believe in connectivity",
      "Join us &",
      "find your potential partner :-)",
    ],
    typeSpeed: 100,
    backSpeed: 100,
    loop: true,
  });
</script>
<script src="../js/splash.js"></script>
<!-- <script src="server.js"></script> -->
<script
  src="https://apis.google.com/js/platform.js?onload=renderButton"
  async
  defer
></script>
<script>
   let header = document.querySelector("nav");
   window.addEventListener("scroll",()=>{
     header.classList.toggle("scroll-active",window.scrollY>0);
   })
</script>
<script>
  function onSignIn(googleUser) {
    window.location = "http://localhost:3000/main.html";
    // Useful data for your client-side scripts:

    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log("Full Name: " + profile.getName());
    console.log("Given Name: " + profile.getGivenName());
    console.log("Family Name: " + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
  }
</script>
 <script src="../js/login.js"></script>

</body>
</html>
