<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- ------splash screen----- -->

    <div class="splash">
        <h5 class="logo-header">
          <span class="logo">B<span class="logo">i</span>n</span><span class="logo">g</span><span class="logo">e</span>
        </h5>
      </div>
  
  
      <!-- --------------navabar----------------- -->
      <div id="nav1">
        <div class="nav">
          <nav class="header">
            <div class="h1">
              <!-- <img src="../images/Binge_donut_logo.png" alt="" > -->
              <span><b>Binge</b></span>
            </div>
            <div class="items">
              <ul class="jk">
                <li class="list"><a href="#features">Features</a></li>
                <li class="list"><a href="safety.html" target="_blank">Safety</a></li>
                <!-- <li class="list"><a href="places.html">Places </a></li> -->
                <li class="list"><a href="contact.html" target="_blank">Contact us</a></li>
                <li class="list"><a href="terms_condition.html">Help</a></li>
              </ul>
            </div>
            <div>
              <button class="log">
                <span class="btn4"><a href="#box" id="btn4">Login</a></span>
                <!-- <i class="fas fa-sign-in-alt"></i>  -->
              </button>
            </div>
          </nav>
        </div>
        <!-- <h2>Find your match -->
        <div class="th">
          <div class="h2">
            <span class="typed"></span>
          </div>
          <div class="btn2">
            <button class="btn3">
              <span>
                <a id="btn2" href="#box">Create account </a>
              </span>
            </button>
          </div>
        </div>
      </div>
  
  
  
    <script>
        </script>
</body>
</html>
